<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {background-image: url('file:///home/jose_rodriguez/Desktop/github/warmadeus/images/handplanes.jpg');
        background-color: rgb(85,107,47);}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warmade.us</title>
</head>
<body>
    <h1>Warmade.us</h1>

    {% for todo in todos %}
        <li>{{ todo.todo_text }}</li>
    {% endfor %}

    <form method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            {{ template_form.todo.label }}
            {{ template_form.todo() }}
        </p>
        <p>
            {{ template_form.submit() }}
        </p>
    </form>

</body>
</html>